APScheduler==3.6.3
astroid==2.5.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
flake8==3.8.4
html5lib==1.1
idna==2.10
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pylint==2.7.2
python-dotenv==0.15.0
python-telegram-bot==13.3
pytz==2021.1
requests==2.25.1
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.2
toml==0.10.2
tornado==6.1
tzlocal==2.1
urllib3==1.26.3
webencodings==0.5.1
wrapt==1.12.1
